body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
}

header nav a:hover {
	background-color: #0056b3;
    border-radius: 4px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

#search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.book {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.book h3 {
    margin-top: 0;
}

form {
    display: grid;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#listas {
    margin-top: 40px;
}
#listas ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#listas li {
    display: inline-block;
    margin: 0 10px;
}
#listas a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
#listas a:hover {
    background-color: #007BFF;
    color: #fff;
}



